export LLM_API_KEY=""
export LLM_API_BASE="" ##使用本地模型服务或者使用openai_wrapper调用非openai服务时用
export VOLC_KEY="AK|SK"

#**for embeddig model**
export EMBEDDING_MODEL_PATH="" ##填写完整的绝对路径
export RERANKER_MODEL_PATH="" ##填写完整的绝对路径
export DEVICE="cpu" ##cuda用户填写 "cuda:0"

#**for processer**
export PROJECT_DIR="work_dir"
export PB_API_AUTH="test@example.com|123467890"
export PB_API_BASE="web:8090"  ##可以参考https://stackoverflow.com/questions/70151702/how-to-network-2-separate-docker-containers-to-communicate-with-eachother
export WS_LOG="verbose" ##如果需要详细的log，观察系统的每一步动作填写此项，正常使用无需