# default ignore
/shelf/
/workspace.xml
.DS_Store
.idea/
__pycache__
.env
.venv/
pb/pb_data/
pb/pocketbase
work_dir
test/webpage_samples/
pb/pb_migrations/1750399634_created_clients.js

# temporary files
*.tmp
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python
.qoder/quests/update-multi-language-documents.md
