LLM_API_KEY="" # apply at https://cloud.siliconflow.cn/i/WNLYbBpi
LLM_API_BASE="https://api.siliconflow.cn/v1" # for siliconflow(recommanded)
PRIMARY_MODEL=Qwen/Qwen3-14B
# SECONDARY_MODEL="Qwen3-14B"
VL_MODEL=Pro/Qwen/Qwen2.5-VL-7B-Instruct

## belowing is optional, go as you need
# VERBOSE=true ##for detail log info. If not need, remove this item.
# CONCURRENT_NUMBER=8 ##make sure your llm provider supports it(leave default is 1)
