LLM_API_KEY=""
LLM_API_BASE="https://api.siliconflow.cn/v1"
# LLM_API_BASE="https://open.bigmodel.cn/api/paas/v4/"
JINA_API_KEY="" #for the search tool
PRIMARY_MODEL="Qwen3-30B-A3B"
# PRIMARY_MODEL="glm-4-flash-250414"  # free mode
SECONDARY_MODEL="Qwen3-14B"
# SECONDARY_MODEL="glm-4-flash-250414" # free model
VL_MODEL="Pro/Qwen/Qwen2.5-VL-7B-Instruct"
# VL_MODEL="glm-4v-flash" # free model
PROJECT_DIR="work_dir"
PB_API_AUTH="test@example.com|1234567890" ##your pb superuser account and password #no '&' in the password and at least 10 characters

##belowing is optional, go as you need
#VERBOSE="true" ##for detail log info. If not need, remove this item.
#PB_API_BASE="" ##only use if your pb not run on 127.0.0.1:8090
#LLM_CONCURRENT_NUMBER=8 ##for concurrent llm requests, make sure your llm provider supports it(leave default is 1)
