LLM_API_KEY=""
LLM_API_BASE="https://api.siliconflow.cn/v1"
ZHIPU_API_KEY="" #for the search tool
PRIMARY_MODEL="deepseek-ai/DeepSeek-R1-Distill-Qwen-14B"
SECONDARY_MODEL="Qwen/Qwen2.5-14B-Instruct"
#use a secondary model to excute the filtering task for the cost saving
#if not set, will use the primary model to excute the filtering task
VL_MODEL="deepseek-ai/deepseek-vl2"
PROJECT_DIR="work_dir"
PB_API_AUTH="test@example.com|1234567890" ##your pb superuser account and password #no '&' in the password and at least 10 characters

##belowing is optional, go as you need
#VERBOSE="true" ##for detail log info. If not need, remove this item.
#PB_API_BASE="" ##only use if your pb not run on 127.0.0.1:8090
#LLM_CONCURRENT_NUMBER=8 ##for concurrent llm requests, make sure your llm provider supports it(leave default is 1)
