loguru
openai
pocketbase
pydantic
#json_repair==0.*
requests
regex
feedparser==6.0.11
aiosqlite~=0.20
lxml~=5.3
pillow~=10.4
playwright>=1.49.0
python-dotenv~=1.0
requests~=2.26
beautifulsoup4~=4.12
tf-playwright-stealth>=1.1.0
xxhash~=3.4
aiofiles>=24.1.0
colorama~=0.4
snowballstemmer~=2.2
pydantic>=2.10
pyOpenSSL>=24.3.0
psutil>=6.1.1
rich>=13.9.4
cssselect>=1.2.0
faust-cchardet>=2.1.19
pdf2image
aiohttp>=3.11.11
packaging
fake-useragent>=2.0.3